body{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color:white;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#container{
  width: 800px;
  padding: 5em;
  text-align: left;
  border: 12px solid firebrick;
  margin: 3px auto;
}

#container h1{
  font-size: 15px;
  color: chartreuse;
}